/*Mathias, Michael*/
#main-container {
    color: white;
    background-color: rgb(204, 235, 245);
    margin-left: 5%;
    margin-right: 5%;
}
header, footer {
    background-color: #680464;
    padding: 0.3%;
    margin: 5px 0px 5px 0px;
    text-align: center;
}
#middle-container {
    border:solid;
    border-color:black;
    background-color: #d8cccc;
}
#form-container {
    background-color: lightyellow;
    color: black;
    padding-top: 1%;
}
#fields-container {
    border: thin dotted black;
    display: flex;
}
#fields-container > * {
    border: thin dotted black;
    flex: 1;
}
.inputs-container > * {
    background-color: #faf6eb;
    border: dotted thin;
    margin: 5px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 0.8em;
    text-align: right;
    padding-right: 1.5em;
}
button {
    margin: 2%;
    color: white;
    background-color: #0864ac;
    padding: 0.7% 5% 0.7% 5%;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s linear;
    border: none;
    border-style: inset;
}
button:active {
    transform: scale(0.85);
    box-shadow: 3px 2px 25px 1px rgba(0,0,0,0.25);
}
.button-containers{
   text-align: center;
}
#short-description {
    background-color:  #faf6eb;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 0.8em;
}
#table-container {
    background-color: #609ca4;
    margin-top: 1.5%;
    text-align: center;
    height: 500px;
    overflow: auto;
}
#query {
    width: 70%;
    height: 25px;
    margin-bottom: 2%;
}
label {
    display: inline-block;
    width: 60px;
}
fieldset {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    margin-top: 0.7%;
    width: 93%;
    margin:auto;
    border: solid thin;
}
.first-inputs {
    height: 40px;
    width: 60%;
}
.first-divs {
    padding-right: 55px;
}
input {
    width: 10em;
}
th {
    background-color: #054a1d;
    padding: 7px;
}
table {
    width: 100%;
    border: dotted thin red;
    background-color: white;
    overflow: auto;
}

#table_body {
    color: black;
    border: 1px solid black;
    width: 100%;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

td img {
    width: 20px;
    height: 20px;
}

header, footer {
    color: white;
}
td {
    border: 1px solid black;
}
#add_button:disabled {
    background-color: lightgrey;
}
img {
    width: 50%;
    height: 50%;
}
form p {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
    color: white;
    background-color: rgb(133, 5, 5);
}
#table-area p{
    text-align: left;
    color: rgb(133, 5, 5);
    font-size: 20px;
    margin: 5px 3px;
}

#table-area {
    background-color: white;
    margin: 0 10px;
    padding-top: 0;
}

#sorting_container {
    width: 40%;
    height: 35px;
    margin-bottom: 2%;
    border-radius: 5px;
    font-family: Arial, sans-serif;
}
#sorting_container input {
    width: 8%;
}
td input {
    width: 5em;
}